body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("images/HEw4M7.jpeg");
  font-size: 20px;
  font-family: 'Helvetica', 'Sans Serif';
  animation: animate 0.5s;
}
@keyframes animate{
  from{
    transform: rotateX(90deg);
  } to {
    transform: rotateX(0deg);

  }
} 




table,
th,
td {
  border: 1px solid black;

}


/* -----------NAVBAR STYLING ------------- */

.site-header {
  position: relative;
  background-color: #add8e6;
  border-radius: 10px;
}

.site-header__wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 600px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 599px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  .nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__item a {
  background-color: #add8e6;
  margin-top:5px;
  color: black;
  display: block;
  padding: 4%;
  font-weight: bold;
  font-size: 15px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  margin-right: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.nav__toggle {
  display: none;
}

.container {
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (max-width: 599px) {
  .nav__toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}


li {
  list-style-type: none;
}

/* ------------------------ */


input {
  margin: 5px;
  width: auto;
}

.spans {
  color: red;
}

/* ------------------------ */


/* -----------DROPDOWN MENU STYLING------------- */


.multipleSelection {
  padding: 10px 20px 10px 9px;
  width: auto;
  background-color: #add8e6;
}

.selectBox {
  position: relative;
}

.selectBox select {
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 6px 0 #33bdef ;
  box-shadow: 2px 2px 6px 0 #33bdef ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ; 
  border: 2px solid #c4c2c2;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: rgba(0,142,198,1);
  width: 100%;
  font-weight: bold;
  height: 40px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkBoxes {
  display: none;
  border: 1px #8ef1e1 solid;
}

#checkBoxes label {
  display: block;
}

#checkBoxes label:hover {
  background-color: #ffffff;
}

.employeesToBeAdded {
  width:auto;
}
.projectsToBeAdded{
  width: auto;
}

/* ------------------------ */


.ptoDiv {
  border: 1px solid black;
  background-color: #ccdeedbd;
  text-align: center;
}

.ptoSpan {
  text-align: center;
}


.addDiv {
  border: 1px solid black;
  background-color: #ccdeedbd;
  text-align: center;
  padding: 1%;  
}

.divs {
  -webkit-box-shadow: 5px 5px 5px 3px #000000;
  box-shadow: 5px 5px 5px 3px #000000;
  border: 2px outset black;
  border-radius: 8px;
}




.myButton {
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #33bdef;
  border-radius: 6px;
  border: 1px solid black;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}

.myButton:hover {
  background: linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  background-color: #019ad2;
}

.myButton:active {
  position: relative;
  top: 1px; 
}

input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border: 2px solid #c4c2c2;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 2px 2px 6px 0 #33bdef ;
  box-shadow: 2px 2px 6px 0 #33bdef ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
}

/* -------------footer */
#footer{
  margin-top:auto;
  background-color:#add8e6 ;
  text-align: center;
  border-radius: 5px;
}

.footerDiv{
  padding: 0.5% 0.5%;
  font-size:smaller;
  color: grey;
}

.social-icons{
  width: 2%;
}

.hyperlinks{
  padding-left: 4%;
  padding-right: 4%;
  font-size:smaller;
  color: grey;
}
